<h2>Output content too long to copy easily?</h2>
<ol>
	<li>Double click inside the text area to select a piece of content
		<img src="/dist/img/one_selected.png" height="140">
	</li>
	<li>Press cmd+a to select the entire section
		<img src="/dist/img/all_selected.png" height="140">
	</li>
</ol>

<br>
<br>
<h2>Want to double check the strings in Python?</h2>
<ol>
	<li>
		Input your testing string
		<img src="/dist/img/input_emoji.png" height="140">
	</li>
	<li>
		Copy the results
		<img src="/dist/img/copy_result.png" height="140">
	</li>
	<li>Open the terminal in Mac
		<img src="/dist/img/open_terminal.png" height="140">
	</li>
	<li>Enter the Python shell by typing `python` and pressing enter
		<img src="/dist/img/run_python.png" height="140">
	</li>
	<li>
		Paste the test string and press enter, it should print with the correct emojis
		<img src="/dist/img/test_string.png" height="140">
	</li>
</ol>

<br>
<br>
<h2>Have lots of strings to convert? Do it all at once!</h2>
<p>New lines are preserved, so you can convert many strings at once and copy back into a spreadsheet</p>
<img src="/dist/img/lots.png" height="700">
